<div class="row">
<div class="col-md-3 col-md-offset-1">
<img id="map" ng-src="http://www.geonames.org/img/country/250/{{country.countryCode}}.png"/>
</div>
<div class="col-md-3 col-md-offset-1">
<img id="flag" ng-src="http://www.geonames.org/flags/x/{{country.countryCode | lowercase }}.gif"/>
</div>

<div class="col-md-3 col-md-offset-1">

	<h2>{{country.countryName}}</h2>
	<div><label>Population of Country:</label><span> {{country.population | number: 0}}</span></div>
	<div><label>Area:</label><span> {{country.areaInSqKm | number: 0}} sq km</span></div>
	<div><label>Capital:</label><span> {{country.capital}}</span></div>
	<div><label>Population of Capital:</label><span> {{((capital.population | number: 0) || 'Loading population data' )}}</span></div>
	<div class="neighbors" >
		<label>{{neighbors.length}} Neighbors:</label>

			<div ng-repeat="neighbor in neighbors">
				<a href="#/countries/{{neighbor.countryCode}}">{{neighbor.countryName}}</a>
		</div>
	</div>
</div>
</div>


<div class="row footerClass">
<button type="submit" class="col-md-2 col-md-offset-7 btn btn-default">
	<a href="#/">Home</a>
</button>
	<button type="submit" class="col-md-2 col-md-offset-1 btn btn-default">
	<a href="#/countries">Browse Countries</a>
</button>
</div>
