<div class="home"> Angular app that allows users to search and visualize data about countries and capital cities.
	<br>Click the button below to browse countries and view more detailed information.
	<br> Click on any of the country in the list to display
country demographics,  an image of the flag, map of the country and its neighbors.
</div>
<div class="footerClass">
<button type="submit" class="col-md-3 col-md-offset-8 btn btn-default btnClass"><a href="#/countries">Browse Countries</a></button>
</div>
